<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.dao.interfaces.SixDetailDao">

    <!--* 保存-->
    <insert id="saveDetailList" parameterType="map" >
        INSERT INTO sixdetail (sixId,studentId,totalPoint,biaoda,zhixing,sibian,lingdao,chuangxin,chuangye)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.sixId,jdbcType=VARCHAR},#{item.studentId,jdbcType=VARCHAR},#{item.totalPoint,jdbcType=VARCHAR},#{item.biaoda,jdbcType=VARCHAR},
              #{item.zhixing,jdbcType=VARCHAR},#{item.sibian,jdbcType=VARCHAR},#{item.lingdao,jdbcType=VARCHAR},#{item.chuangxin,jdbcType=VARCHAR},
              #{item.chuangye,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--* 删除-->
    <delete id="deleteDetailByStudentId" parameterType="string">
        DELETE FROM sixdetail WHERE studentId=#{0}
    </delete>

</mapper>